/*DEV*/
.content-wallet,
.content-accounts,
.content-transactions,
.content-contracts {
  /*display:none;*/
}

/*LAYOUT*/
body {
}
.inline-block {
  display: inline-block;
}
p {
  max-width: 600px;
}
hr {
  border-color: rgba(255, 255, 255, 0.1);
  margin: 5rem 0;
}

.header > .box-inner,
.content > .box-inner {
  /* padding-right: 100px; */
}
.header > .box-inner {
  display: flex;
  align-items: flex-end;
  padding-right: 0;
}

.header .balanceStatus > span {
}

/*TYPO*/
h3,
.balanceStatus {
  font-size: 1.2rem;
  line-height: 1.4;
}

.t-s-bold {
  font-size: 0.9rem;
  font-weight: 700;
  /* margin-top: 5rem; */
}
.t-light {
  font-weight: 300;
}



.t-s {
  font-size: 0.9rem;
}
.t-bold {
  font-weight: 700;
}
.t-light {
  font-weight: 300;
}




input {
  width: 100%;
  background: transparent;
  color: white;
}
input {
  border-width: 0 0 2px 0;
  padding-bottom: 0.4em;
  font-size: 1.2rem;
  font-family: Montserrat;
  margin: 1rem 0;
}
input:focus {
  box-shadow: none;
  outline: none;
  border-bottom-color: #00ffd9;
}
input[name="cliffPeriods"], input[name="vestingPeriods"] {
  /* display: inline-block; */
  /* width: 50%; */
}

table {
  width: 100%;
}

table.table-zebra tr:nth-child(even) {
  background-color: #222;
}

table.table-transactions tr {
  cursor: pointer;
}
table.table-transactions tr > a {
  display: block;
}
table.table-transactions tr td {
  vertical-align: bottom !important;
  padding-top: 0.8rem;
  padding-bottom: 0.7rem;
}
table.table-transactions tr td:first-child {
  text-align: center;
  vertical-align: middle;
  opacity: 0.3;
  border-right: 1px solid white;
}
table.table-transactions tr td:last-child * {
  opacity: 1;
}
.cell-fromto {
  width: 50%;
}
.cell-asset {
  width: 25%;
}

table tr td:first-child {
  width: 150px;
  min-width: 150px;
}
table form > div {
  margin: 0 !important;
}

table.table-layout, table.table-layout tr:hover {
  background: transparent;
}
table.table-layout tr td:last-child * {
  opacity: 1;
}

.identicon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: inherit;
  position: absolute;
}

.chat-box {
  position: fixed;
  width: 15rem;
  cursor: pointer;
  bottom: 2rem;
  right: 1rem;
  cursor: pointer;
  text-decoration: none;
}
.chat-icon {
  width: 7rem;
  height: 7rem;
  margin-bottom: -1.2rem;
  margin-left: -2rem;
  background-image: url('../img/AXS_icon-chat.png');
  background-size: contain;
  background-repeat: no-repeat;
}




@media screen and (min-width: 1200px) {
  .header > .box-inner,
  .content > .box-inner {
    width: calc(100% - 150px);
    margin: auto;
    max-width: none;
    padding-right: calc(100% - 1000px);
    padding-left: 100px;
  }

  table {
    width: calc(100% + 150px + 1.5rem);
    transform: translateX(calc(-150px - 1.5rem));
  }
}

@media screen and (max-width: 980px) {
  .menuRouter {
    left: -255px;
    font-size: 1.6rem;
    width: 370px;
  }
  .menuRouter ul li a span {
    opacity: 0;
  }
  .menuRouter ul li a#burger {
    pointer-events: all;
    opacity: 1;
  }
  .menuRouter.active {
    left: 0;
  }
  .menuRouter.active span {
    opacity: 1;
  }
  .header,
  .content {
    padding-left: 190px;
  }
  .logo {
    margin-left: 128px;
  }
  .cell-fromto {
    width: 50%;
  }
  .cell-asset {
    width: 25%;
  }
}
@media screen and (max-width: 775px) {
  .header > .box-inner {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 0.2rem;
  }
  .content {
    min-width: 800px;
  }
  table tr td:first-child {
    width: 125px;
    min-width: 0;
  }
  .divider {
    opacity: 0;
    margin-left: -9px;
  }
}
